h1{
    text-align: center;
}

body{
    font-family: "Segoe UI";
}

.card{
    padding: 10px;
}

img{
    border-radius : 12px;
}

.wrapper{
    width: 1000px;
    background: white;
    margin: auto;
    padding: 10px; 
    border-radius: 10px;
    border: 1px solid lightgray;
}
